name: My first workflow
on: 
  push:
    branches:
      - 'feature/*'
jobs:
  first_job:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Welcome message
        run: echo "My first Github actions job"
      - name: List files
        run: ls
      - name: Read file
        run: cat README.md